*~
.hydra
*pyc
datasets
results
outputs/*
/MUJOCO_LOG.TXT
wandb
experiments/
experiments_saved/
clip/
gpt/
bert/
logs/

*.mp4
libero.egg-info/
.vscode/

notebooks/tmp
tmp/
libero/libero/bddl_files/predicate_benchmark_temp/
.cursor/
.claude/
CLAUDE.md
